<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wkq.media" >


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application android:largeHeap="true">

<!--        <provider-->
<!--            android:name="android.support.v4.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths" />-->
<!--        </provider>-->

        <activity
            android:name=".ui.PickerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.PreviewActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.camera.DiyCameraActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|smallestScreenSize|screenLayout"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.crop.ImageCropActivity"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".ui.EditVideoActivity"-->
<!--            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="stateAlwaysHidden" />-->
    </application>

</manifest>
